@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

$theme-background-color: #1E0010;
$theme-default-color: #ffff;
$theme-default-font-size: 16px;
$theme-default-font: "Popins", sans-serif;
$theme-stylish-font: "Indie Flower", cursive;
